* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Courier New", Courier, monospace;
}

.player-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.player-form.is-active {
  display: flex;
}

.player-form__title {
  font-size: 2.5rem;
}

.player-form__players {
  display: flex;
  gap: 5rem;
}

.player-form__player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player-form__subtitle {
  font-size: 2rem;
  text-align: center;
}

.player-form__field label {
  font-size: 1.5rem;
}

.player-form__field input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #646464;
  border-radius: 0.5rem;
}

.player-form__marker-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #646464;
}

.game {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 2rem;
}

.game.is-active {
  display: flex;
}

.game__state {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.game__scoreboard,
.game__turn-display {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-wrap: nowrap;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 10rem) / repeat(3, 10rem);
}

.game-board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-weight: bold;
  font-size: 5rem;
}

.game-board__cell.cell--x {
  color: #E14434;
}

.game-board__cell.cell--o {
  color: #5EABD6;
}

.game-board__cell:nth-child(1),
.game-board__cell:nth-child(2),
.game-board__cell:nth-child(3) {
  border-top: none;
}

.game-board__cell:nth-child(3),
.game-board__cell:nth-child(6),
.game-board__cell:nth-child(9) {
  border-right: none;
}

.game-board__cell:nth-child(7),
.game-board__cell:nth-child(8),
.game-board__cell:nth-child(9) {
  border-bottom: none;
}

.game-board__cell:nth-child(1),
.game-board__cell:nth-child(4),
.game-board__cell:nth-child(7) {
  border-left: none;
}

.game__message,
.game__new-game-btn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.game__message.is-active,
.game__new-game-btn.is-active {
  visibility: visible;
  opacity: 1;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #646464;
  border-radius: 0.5rem;
}