* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.player-form {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.player-form.is-active {
  display: flex;
}

.player-form__players {
  display: flex;
  gap: 5rem;
}

.game {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.game.is-active {
  display: flex;
}

.game__state {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 1rem;
}

.game__state > * {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.game-board {
  display: grid;
  grid-template: repeat(3, 5rem) / repeat(3, 5rem);
}

.game-board__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.game-board__cell:nth-child(1),
.game-board__cell:nth-child(2),
.game-board__cell:nth-child(3) {
  border-top: none;
}

.game-board__cell:nth-child(3),
.game-board__cell:nth-child(6),
.game-board__cell:nth-child(9) {
  border-right: none;
}

.game-board__cell:nth-child(7),
.game-board__cell:nth-child(8),
.game-board__cell:nth-child(9) {
  border-bottom: none;
}

.game-board__cell:nth-child(1),
.game-board__cell:nth-child(4),
.game-board__cell:nth-child(7) {
  border-left: none;
}

.game__win-message {
  display: none;
}

.game__win-message.is-active {
  display: block;
}

.game__tie-message {
  display: none;
}

.game__tie-message.is-active {
  display: block;
}

.game__new-game-btn {
  display: none;
}

.game__new-game-btn.is-active {
  display: inline-block;
}